p {
    color: #f00;
}

#first {
    color: #ccc;
}

img {
    width: 150px;
    height: 150px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #ff0;
    text-decoration: underline;
}

table {
    border: solid thin #000;
}

td {
    border: solid thin #000;
}